.button-container{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #f95738;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;

}

.button-container:hover{
    background-color: #f4d35e;
}

.operator{
    background-color: #0d3b66;
}

.operator:hover{
    background-color: #ff6600;
}